@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
    font-weight: 100 900;
}

:root {
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);

    --font-base: 'Inter', sans-serif;
    --spacing-sm: 0.75rem;
    --spacing-md: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: var(--font-base);
    background-color: var(--color-grey-900);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
    color: var(--color-white);
    font-weight: 600;
    padding: var(--spacing-md)
}

.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 12px;
    background-color: var(--color-grey-800);
    padding: var(--spacing-md);
    align-items: center;
    border-radius: 0.75rem;
}

.profile-picture {
    width: 96px;
    height: 96px;
    border-radius: 48px;
}

.profile-name {
    font-size: 23px;
    font-weight: 600;
    padding-top: 16px;
    margin-bottom: -4px;
}

.profile-location { 
    font-size: 14px;
    font-weight: 600;
    color: var(--color-green);
}

.profile-bio {
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
}

.link-list {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    background-color: var(--color-grey-700);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 6px;
}

.link-btn:hover,
.link-btn:focus {
    background-color: var(--color-green);
    color: var(--color-grey-900);
}

@media (min-width: 768px) {
    .card {
        padding: 48px;
    }
}