@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
